In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('datasets_316056_639173_amazon.csv', encoding = "ISO-8859-1", engine = 'python')

In [3]:
df.head()

   year state    month  number        date
0  1998  Acre  Janeiro     0.0  1998-01-01
1  1999  Acre  Janeiro     0.0  1999-01-01
2  2000  Acre  Janeiro     0.0  2000-01-01
3  2001  Acre  Janeiro     0.0  2001-01-01
4  2002  Acre  Janeiro     0.0  2002-01-01

In [10]:
df.describe(include = 'all').transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
year,5837,NaN,NaN,NaN,2007.83,5.64908,1998,2003,2008,2013,2017
state,5837,23,Rio,661,NaN,NaN,NaN,NaN,NaN,NaN,NaN
month,5837,12,Outubro,534,NaN,NaN,NaN,NaN,NaN,NaN,NaN
number,5837,NaN,NaN,NaN,119.74,197.2,1,6,33,131,998
date,5837,20,2016-01-01,317,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#checking is there any NaN values present
df.isna().sum()

year      0
state     0
month     0
number    0
date      0
dtype: int64

In [6]:
df.shape

(6454, 5)

In [7]:
df.replace(0, np.nan, inplace = True)

In [8]:
df.dropna(subset = ['number'], inplace = True)

In [11]:
df.shape

(5837, 5)

In [13]:
df['number']

5        10.0
7        12.0
8         4.0
12        1.0
17        1.0
        ...
6449    128.0
6450     85.0
6451    223.0
6452    373.0
6453    119.0
Name: number, Length: 5837, dtype: float64

In [14]:
df['state'].nunique()

23

In [18]:
df.groupby('state').sum().sort_values('number')

                     year     number
state
Sergipe            313318   3237.000
Distrito Federal   305259   3561.000
Alagoas            391559   4644.000
Espirito Santo     453756   6546.000
Acre               343430  18464.030
Rondonia           453778  20285.429
Amapa              333392  21831.576
Santa Catarina     455796  24359.852
Roraima            431718  24385.074
Pernambuco         453746  24498.000
Pará               459770  24512.144
Maranhao           467792  25129.131
Ceara              445715  30428.063
Amazonas           457767  30650.129
Tocantins          465792  33707.885
Minas Gerais       469793  37475.258
Goias              469793  37695.520
Piau               465786  37803.747
Bahia              469793  44746.226
Rio               1327182  45160.865
Sao Paulo          469793  51121.198
Paraiba            875418  52435.918
Mato Grosso        939586  96246.028

In [19]:
!jupyter nbconvert --to script config_template.ipynb

This application is used to convert notebook files (*.ipynb) to various other
formats.

WARNING: THE COMMANDLINE INTERFACE MAY CHANGE IN FUTURE RELEASES.

Options

-------



Arguments that take values are actually convenience aliases to full
Configurables, whose aliases are listed on the help line. For more information
on full configurables, see '--help-all'.


--debug

    set log level to logging.DEBUG (maximize logging output)

--generate-config

    generate default config file

-y

    Answer yes to any questions instead of prompting.

--execute

    Execute the notebook prior to export.

--allow-errors

    Continue notebook execution even if one of the cells throws an error and include the error message in the cell output (the default behaviour is to abort conversion). This flag is only relevant if '--execute' was specified, too.

--stdin

    read a single notebook file from stdin. Write the resulting notebook with default basename 'notebook.*'

--stdout

    Write notebook output to stdout instead of files.

--inplace

    Run nbconvert in place, overwriting the existing notebook (only
    relevant when converting to notebook format)

--clear-output

    Clear output of current file and save in place,
    overwriting the existing notebook.

--no-prompt

    Exclude input and output prompts from converted document.

--no-input

    Exclude input cells and output prompts from converted document.
    This mode is ideal for generating code-free reports.
--log-level=<Enum> (Application.log_level)

[NbConvertApp] WARNING | pattern 'config_template.ipynb' matched no files

    Default: 30

    Choices: (0, 10, 20, 30, 40, 50, 'DEBUG', 'INFO', 'WARN', 'ERROR', 'CRITICAL')

    Set the log level by value or name.

--config=<Unicode> (JupyterApp.config_file)

    Default: ''

    Full path of a config file.

--to=<Unicode> (NbConvertApp.export_format)

    Default: 'html'

    The export format to be used, either one of the built-in formats

    ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf',

    'python', 'rst', 'script', 'slides'] or a dotted object name that represents

    the import path for an `Exporter` class

--template=<Unicode> (TemplateExporter.template_file)

    Default: ''

    Name of the template file to use

--writer=<DottedObjectName> (NbConvertApp.writer_class)

    Default: 'FilesWriter'

    Writer class used to write the  results of the conversion

--post=<DottedOrNone> (NbConvertApp.postprocessor_class)

    Default: ''

    PostProcessor class used to write the results of the conversion

--output=<Unicode> (NbConvertApp.output_base)

    Default: ''

    overwrite base name use for output files. can only be used when converting

    one notebook at a time.

--output-dir=<Unicode> (FilesWriter.build_directory)

    Default: ''

    Directory to write output(s) to. Defaults to output to the directory of each

    notebook. To recover previous default behaviour (outputting to the current

    working directory) use . as the flag value.

--reveal-prefix=<Unicode> (SlidesExporter.reveal_url_prefix)

    Default: ''

    The URL prefix for reveal.js (version 3.x). This defaults to the reveal CDN,

    but can be any url pointing to a copy  of reveal.js.

    For speaker notes to work, this must be a relative path to a local  copy of

    reveal.js: e.g., "reveal.js".

    If a relative path is given, it must be a subdirectory of the current

    directory (from which the server is run).

    See the usage documentation

    (https://nbconvert.readthedocs.io/en/latest/usage.html#reveal-js-html-

    slideshow) for more details.

--nbformat=<Enum> (NotebookExporter.nbformat_version)

    Default: 4

    Choices: [1, 2, 3, 4]

    The nbformat version to write. Use this to downgrade notebooks.

To see all available configurables, use `--help-all`

Examples
--------

    The simplest way to use nbconvert is

    > jupyter nbconvert mynotebook.ipynb

    which will convert mynotebook.ipynb to the default format (probably HTML).

    You can specify the export format with `--to`.
    Options include ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf', 'python', 'rst', 'script', 'slides'].

    > jupyter nbconvert --to latex mynotebook.ipynb

    Both HTML and LaTeX support multiple output templates. LaTeX includes
    'base', 'article' and 'report'.  HTML includes 'basic' and 'full'. You
    can specify the flavor of the format used.

    > jupyter nbconvert --to html --template basic mynotebook.ipynb

    You can also pipe the output to stdout, rather than a file

    > jupyter nbconvert mynotebook.ipynb --stdout

    PDF is generated via latex

    > jupyter nbconvert mynotebook.ipynb --to pdf

    You can get (and serve) a Reveal.js-powered slideshow

    > jupyter nbconvert myslides.ipynb --to slides --post serve

    Multiple notebooks can be given at the command line in a couple of
    different ways:

    > jupyter nbconvert notebook*.ipynb
    > jupyter nbconvert notebook1.ipynb notebook2.ipynb

    or you can specify the notebooks list in a config file, containing::

        c.NbConvertApp.notebooks = ["my_notebook.ipynb"]

    > jupyter nbconvert --config mycfg.py